.td-edit { width: 34px !important; padding: 8px 10px !important; }
.td-delete { width: 34px !important; padding: 8px 10px !important; }

.tablesorter-filter.disabled { display: none; }

.carinfo ul { margin: 0; padding: 0; list-style: none; }
.carinfo ul span { padding: 2px 4px; color: #c7254e; background-color: #f9f2f4; border-radius: 4px; }
