.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
    padding: 0;
    margin-left: 0;
    border: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover { border: none; background: none; }