body, td, input { font-family: 'Open Sans',sans-serif; font-size: 13px; color: #1d436b; }
.form-control { font-size: 13px; }
.form-control-feedback { line-height: 30px; }

a { color: #337ab7; }
a:hover { color: #000; }

.hr { font-size: 0.01%; border-bottom: 1px solid #ddd; }
.shadow { background: #fff; box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 1); }
.text-light { color: #fff; }
.text-shadow { text-shadow: 1px 1px 1px #555; }
.text-l { font-size: 18px; }
.text-xl { font-size: 22px; }
.text-xxl { font-size: 28px; }
.padding-10 { padding: 10px; }
.height-10 { font-size: 0.01%; height: 10px; }
.btn-icon { border-right: 1px solid #888; padding-right: 15px; margin-right: 8px; }
.btn-line { text-align: center; }
.text-red { color: #c7254e; }

nav.navbar { margin-bottom: 0; border: 0; }
nav .navbar-brand { max-width: 235px; height: 74px; }
nav .slogan { text-transform: uppercase; font-size: 14px; margin-top: 5px; }
nav .navbar-nav>li>a { text-transform: uppercase; }
nav ul.nav { margin-top: 12px; }
nav .login-popup { margin: 15px; min-width: 240px; }
nav .social-buttons img { height: 36px; width: 36px; }
nav .user-links { padding: 8px 0 0 15px; }
nav .user-links img { height: 30px; width: 30px; border-radius: 3px; }
.navbar-default .navbar-toggle .icon-bar { background-color: #0055aa; }

#section_notification { background: #ddd; }
#section_notification .alert { margin-top: 15px; }

#section_apply { background: #323e65 url("../img/section-1.jpg") top center no-repeat; }
#section_apply .container { background: rgba(73,131,178,0.7); border-radius: 10px; min-height: 520px; }
#section_apply label { color: #fff; text-shadow: 1px 1px 2px #555; }
.card { border-radius: 16px; background: #fff; margin-bottom: 30px; cursor: pointer; }
.card-inner { padding: 10px; min-height: 180px; background-position: right bottom; background-repeat: no-repeat; }
.card-inner div { text-align: center; font-size: 16px; line-height: 20px; }
.step-1 { background-image: url("../img/step-registration.png"); }
.step-2 { background-image: url("../img/step-apply.png"); }
.step-3 { background-image: url("../img/step-inspection.png"); }
.step-4 { background-image: url("../img/step-buy.png"); }
.text-dream { display: inline-block; padding: 5px 20px; font-size: 38px; border-radius: 10px; margin: 20px 0 0 0; background: #fff; }
.text-about { text-align: center; padding: 0 20%; font-size: 16px; }
.login-social img { margin-bottom: 40px; height: 60px; width: 60px; }

.inquiry_new { background: #fff; padding: 15px; margin-top: 30px; border-radius: 15px; }
.inquiry_new .row { margin-bottom: 20px; }
.inquiry_new .caption { text-align: center; font-size: 20px; }
.inquiry-new-id { font-weight: bolder; color: #96f226; }
.select2-container--default .select2-selection--single { border-radius: 6px; }
.select2-container .select2-selection--single { height: 34px; }
.select2-container--default .select2-selection--single .select2-selection__rendered { line-height: 34px; }
.select2-container--default .select2-selection--single .select2-selection__arrow { height: 34px; }

.info-link a { color: #ff0; text-decoration: none; border-bottom: 1px dashed #ff0; }

#section_search { background: linear-gradient(to bottom,rgba(173,192,206,1) 0%,rgba(255,255,255,1) 50%,rgba(173,192,206,1) 100%); }
.brands { margin: 20px 0 10px 0; }
.brands .car-image { width: 50px; height: 50px; display: inline-block; }
.brands .brand-item { text-align: center; margin: 0 0 40px 0; }
.brands .brand-name { font-weight: bolder; font-size: 12.5px; height: 24px; overflow: hidden; margin-left: -14px; }
.brands label { cursor: pointer; }
.brands span { color: #c7254e; }
.brands-hidden { display: none; }
.more-brands { text-align: center; }
.more-brands a { color: #c7254e; font-size: 14px; border-bottom: 1px solid #aaa; text-decoration: none; border-bottom: 1px dashed #c7254e; }
.more-search { text-align: center; }
.more-search a { color: #c7254e; font-size: 14px; border-bottom: 1px solid #aaa; text-decoration: none; border-bottom: 1px dashed #c7254e; }
.pac-container { min-width: 340px; }

#section_inquiries { background: #262628 url("../img/section-2.jpg") top center no-repeat; }
#section_inquiries .container { background: rgba(73,131,178,0.7); border-radius: 10px; }
.inquiry-block { text-align: center; border-radius: 10px; padding: 20px; margin: 0 0 30px 0; background: rgba(255,255,255,0.8); min-height: 290px; }
.inquiry-block .car-image { height: 50px; text-align: center; }
.block-line { margin: 0 0 2px 0; }
.block-line .value { color: #c7254e; }

#section_news {}
.news-block { border-radius: 131px; margin-bottom: 30px; min-height: 262.5px; background: #ddd; text-align: center; }
.news-date { padding: 20px 0 0 0; color: #333; }
.news-title { padding: 8px 0 0 0; line-height: 20px; font-size: 17px; margin: 0 30px; max-height: 50px; overflow: hidden; }
.news-icon img { margin: 20px 0 0 0; border-radius: 60px; }
.news-hidden { display: none; }

footer { background: #7e7564 url("../img/section-3.jpg") top center no-repeat; }
footer .footer-inner { background: rgba(17,45,59,0.7); border-radius: 10px; }

.inquiry-show .data-avatar { height: 48px; width: 48px; vertical-align: middle; margin: 0 10px 0 0; }

.has-feedback .form-control-feedback { font-size: 8px; color: #ed0000; }

.table-inquiries-found thead th { font-size: 13px; }
.table-inquiries-found tbody tr { cursor: pointer; }
.table-inquiries-found tbody tr:hover td { background: #FFFFB6; }

/* -------------------- Responsive classes ------------------- */

/* mobile small - less than 480 */
@media (max-width: 479px) {
    nav .navbar-brand { max-width: 200px; height: 68px; }
    nav .slogan { font-size: 11px; margin-top: 5px; }
    .text-about { padding: 0 5%; }
    #section_apply .container { min-height: auto; }
}

/* mobile - 480 and up */
@media (min-width: 480px) and (max-width: 767px) {
    nav .navbar-brand { max-width: 200px; height: 68px; }
    nav .slogan { font-size: 11px; margin-top: 5px; }
    nav .user-links { padding-left: 15px; }
    .text-about { padding: 0 5%; }
    #section_apply .container { min-height: auto; }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    nav .navbar-brand { max-width: 200px; height: 68px; }
    nav .slogan { font-size: 11px; margin-top: 5px; }
    nav .navbar-nav>li>a { font-size: 12px; padding-left: 8px; padding-right: 8px; }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1200px) {
    .container { width: 970px; }
}
