body, td, input { font-family: "Cuprum"; font-size: 16px; color: #1d436b; }
a { color: #337ab7; }
a:hover { color: #000; }

.hr { font-size: 0.01%; border-bottom: 1px solid #ddd; }
.shadow { background: #fff; box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 1); }
.text-light { color: #fff; }
.text-shadow { text-shadow: 1px 1px 2px #222; }
.text-l { font-size: 20px; }
.text-xl { font-size: 30px; }
.text-xxl { font-size: 40px; }
.padding-10 { padding: 10px; }
.height-10 { font-size: 0.01%; height: 10px; }
.btn-icon { border-right: 1px solid #888; padding-right: 15px; margin-right: 8px; }
.btn-line { text-align: center; }
.text-red { color: #c7254e; }

header { background: linear-gradient(to bottom,  rgba(137,161,181,1) 0%,rgba(255,255,255,1) 100%); }
header .logo img { margin: 20px 0 0 0; }
header .menu { margin: 60px 0 0 0; }
header .menu ul { list-style: none; padding: 0; margin: 0; }
header .menu li { margin: 0 0 0 40px; display: inline-block; font-size: 24px; }
header .menu li a { color: #1d436b; }
header #login_menu { margin: 30px 0 0 0; font-size: 24px; text-align: center; }
header #login_menu .login-link { padding-left: 30px; border-left: 2px solid #1d436b; text-decoration: none; }
header #login_menu .dropdown-menu { min-width: 240px; padding: 15px; }
header #user_menu { padding-left: 20px; border-left: 2px solid #eee; margin: 20px 0 20px 0; font-size: 16px; text-align: center; }
header #user_menu img { height: 48px; width: 48px; border-radius: 10px; border: 1px solid #aaa; }
header #user_menu a { font-size: 16px; text-decoration: none; }
header .social-buttons img { width: 48px; height: 48px; margin: 9px; }

#section_notification { background: #ddd; }
#section_notification .alert { margin-top: 15px; }

#section_apply { background: url("../img/section-1.jpg") top center; }
#section_apply .container { background: rgba(73,131,178,0.7); border-radius: 10px; }
#section_apply label { color: #fff; text-shadow: 1px 1px 2px #555; }
.card { border-radius: 20px; background: #fff; margin-bottom: 30px; cursor: pointer; }
.card-inner { padding: 10px; min-height: 200px; background-position: right bottom; background-repeat: no-repeat; }
.card-inner div { text-align: center; font-size: 22px; line-height: 20px; }
.step-1 { background-image: url("../img/step-registration.png"); }
.step-2 { background-image: url("../img/step-apply.png"); }
.step-3 { background-image: url("../img/step-inspection.png"); }
.step-4 { background-image: url("../img/step-buy.png"); }
.text-dream { display: inline-block; padding: 5px 20px; font-size: 38px; border-radius: 10px; margin: 20px 0 0 0; background: #fff; }
.text-about { text-align: center; padding: 0 20%; font-size: 22px; margin: 30px 0 0 0; }
.login-social img { margin-bottom: 20px; }

.inquiry_new { background: #fff; font-size: 20px; padding: 15px; margin-top: 30px; border-radius: 15px; }
.inquiry_new .row { margin-bottom: 20px; }
.inquiry_new .caption { text-align: center; font-size: 30px; }
.inquiry-new-id { font-weight: bolder; color: #96f226; }
#container_step1, #container_step2, #container_step3 { min-height: 630px; }
.select2-container--default .select2-selection--single { border-radius: 6px; }
.select2-container .select2-selection--single { height: 46px; }
.select2-container--default .select2-selection--single .select2-selection__rendered { line-height: 46px; }
.select2-container--default .select2-selection--single .select2-selection__arrow { height: 46px; }

.info-link a { color: #ff0; text-decoration: none; border-bottom: 1px dashed #ff0; }

#section_search { background: linear-gradient(to bottom,rgba(173,192,206,1) 0%,rgba(255,255,255,1) 50%,rgba(173,192,206,1) 100%); }
.brands { margin: 20px 0 10px 0; }
.brands .car-image { width: 50px; height: 50px; display: table-cell; vertical-align: bottom; }
.brands .checkbox { font-size: 18px; }
.brands .checkbox span { font-size: 14px; color: #c7254e; font-weight: bolder; }
/*.brands .checkbox span:before { content: "("; }
.brands .checkbox span:after { content: ")"; }*/
.brands-hidden { display: none; }
.more-brands { text-align: center; }
.more-brands a { color: #c7254e; font-size: 18px; border-bottom: 1px solid #aaa; text-decoration: none; border-bottom: 1px dashed #c7254e; }
.more-search { text-align: center; }
.more-search a { color: #c7254e; font-size: 18px; border-bottom: 1px solid #aaa; text-decoration: none; border-bottom: 1px dashed #c7254e; }

#section_inquiries { background: url("../img/section-2.jpg") top center; }
#section_inquiries .container { background: rgba(73,131,178,0.7); border-radius: 10px; }
.inquiry-block { text-align: center; border-radius: 10px; padding: 20px; margin: 0 0 30px 0; background: rgba(255,255,255,0.8); min-height: 310px; }
.inquiry-block .car-image { height: 50px; text-align: center; }
.block-line { margin: 0 0 2px 0; }
.block-line .value { color: #c7254e; }

#section_news {}
.news-block { border-radius: 131px; margin-bottom: 30px; min-height: 262.5px; background: #ddd; text-align: center; }
.news-date { padding: 20px 0 0 0; color: #333; }
.news-title { padding: 8px 0 0 0; line-height: 20px; font-size: 20px; margin: 0 20px; max-height: 50px; overflow: hidden; }
.news-icon img { margin: 20px 0 0 0; border-radius: 60px; }
.news-hidden { display: none; }

footer { background: url("../img/section-3.jpg") top center; }
footer .footer-inner { background: rgba(17,45,59,0.7); border-radius: 10px; }

.inquiry-show .data-avatar { height: 48px; width: 48px; vertical-align: middle; margin: 0 10px 0 0; }

.table-inquiries-found tr { cursor: pointer; }
.table-inquiries-found tr:hover td { background: #FFFFB6; }

/* -------------------- Responsive classes ------------------- */

/* mobile small - less than 480 */
@media (max-width: 479px) {
    header .logo img { margin: 20px auto 0 auto; }
    header .menu { margin: 0 auto; text-align: center; }
    header .personal { text-align: center; margin: 10px 0 20px 0; font-size: 24px; }
    header .personal a { padding: 0; border-left: none; }
    .text-xxl { font-size: 30px; }
    .text-about { padding: 0 5%; }
}

/* mobile - 480 and up */
@media (min-width: 480px) and (max-width: 767px) {
    header .logo a { display: inline-block; width: 100px; }
    header .menu { margin: 0; text-align: center; }
    header .personal { text-align: center; margin: 10px 0 20px 0; font-size: 24px; }
    header .personal a { padding: 0; border-left: none; }
    header .menu li { display: block; margin-left: 0; }
    header #login_menu .login-link { padding-left: 0; border-left: none; }
    header #user_menu { padding-left: 0; border-left: none; }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    header .menu { margin: 30px 0 0 0; }
    header li { margin: 0 0 0 20px; font-size: 20px; }
    header .personal { margin: 30px 0 0 0; font-size: 20px; }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    .card-inner div { text-align: center; font-size: 20px; line-height: 20px; }
}